*{
    font-family: 'EB Garamond', serif;
    border: 0;
    margin: 0;
}

.navbar_wine{
    background: linear-gradient(90deg, rgba(209, 211, 104, 0.918), #a14d4df1);
    border-bottom: 1px solid rgb(117, 11, 11);
    box-shadow: 0px 14px 15px -6px rgba(0,0,0,0.66);
    text-transform: uppercase;
}

.border-shadow{
    background: rgb(117, 11, 11);
    border-bottom: 1px solid black;
    box-shadow: none;
}

.logo_wine_initial{
color: rgb(117, 11, 11);
}

.color_wine{
    color: white;
}

/* header */

.header{
    background-image: url("/img/wine(3).jpg");
    height: 500px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid red;
}

.img{
    background-image: url("/img/wine(1).jpg");
    height: 300px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    background: linear-gradient(#000000c5 , #00000049) , url('/img/wine(2).jpg');
    height: 300px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid red;
}

.link-footer{
    color: white;

}

.link-footer:hover{
    color: red;
}